.clearfix:after { display: table; clear: both; content: "" }
.left_noMargin { margin-left: 0!important }
/*  ####################################################   CONTAINER   ################################################## */
.devcenter_logo { margin: 1% 0 0 17%; float: left; width: 150px; }
.devcenter_body { max-width: 1003px; width: 100%; padding: 0; margin: 15px auto; }
.devcenter_sdks { border-bottom: 1px solid #949494; width: 100%; }
.devcenter_sdks ul { padding: 0; list-style: none!important; }
.devcenter_sdks ul li { width: 85px; height: 85px; margin-bottom: 25px; display: inline-block; margin: 1em 0.5em 1.2em 0.7em; -moz-transition: top .15s ease-in-out; -webkit-transition: top .15s ease-in-out; -o-transition: top .15s ease-in-out; -ms-transition: top .15s ease-in-out; transition: top .15s ease-in-out; }
.devcenter_inner_box { max-width: 1003px; width: 100%; }
.devcenter_inner_box h2 { font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif!important; font-size: 27px; color: #272626; font-weight: 400!important; }

.reference_w h2 { margin: 20px 0 0 0 !important; font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 27px; color: #272626; font-weight: 400!important; }
.reference_w { border-top: 1px solid #949494; float: left; width: 100% }
.reference_w ul { padding: 0; margin: 20px 0 0 }
.reference_w ul li { width: 85px; height: 85px; margin-bottom: 20px; list-style: none!important }

/*  ####################################################   PLATFORM   ################################################## */
.androidSdk, .bb10, .csharpSdk, .flashSdk, .grailsPlugin, .html5Sdk, .iOSSdk, .j2meSdk, .javaSdk, .jsSdk, .marmaladeSdk, .monoSdk, .phpSdk, .rubySdk, .smartTvSdk, .unity3dSdk, .windowSdk, .appmethodSdk { width: 85px; height: 85px }
.androidSdk { background-image: url(../gambar/platforms/android-hover.png); background-repeat: repeat; background-position: left top }
.androidSdk a, .androidSdk a:link, .androidSdk a:visited { display: block; width: 85px; height: 85px }
.androidSdk a:hover img { visibility: hidden }
.bb10 { background-image: url(../gambar/platforms/blackberry10-hover.png); background-repeat: repeat; background-position: left top }
.bb10 a, .bb10 a:link, .bb10 a:visited { display: block; width: 85px; height: 85px }
.bb10 a:hover img { visibility: hidden }
.iOSSdk { background-image: url(../gambar/platforms/iOS-hover.png); background-repeat: repeat; background-position: left top }
.iOSSdk a, .iOSSdk a:link, .iOSSdk a:visited { display: block; width: 85px; height: 85px }
.iOSSdk a:hover img { visibility: hidden }
.smartTvSdk { background-image: url(../gambar/platforms/smartTv-hover.png); background-repeat: repeat; background-position: left top }
.smartTvSdk a, .smartTvSdk a:link, .smartTvSdk a:visited { display: block; width: 85px; height: 85px }
.smartTvSdk a:hover img { visibility: hidden }
.windowSdk { background-image: url(../gambar/platforms/window-hover.png); background-repeat: repeat; background-position: left top }
.windowSdk a, .windowSdk a:link, .windowSdk a:visited { display: block; width: 85px; height: 85px }
.windowSdk a:hover img { visibility: hidden }

/*  ####################################################   PROGRAMMING   ################################################## */
.csharpSdk { background-image: url(../gambar/programming/csharp-hover.png); background-repeat: repeat; background-position: left top }
.csharpSdk a, .csharpSdk a:link, .csharpSdk a:visited { display: block; width: 85px; height: 85px }
.csharpSdk a:hover img { visibility: hidden }
.html5Sdk { background-image: url(../gambar/programming/html5-hover.png); background-repeat: repeat; background-position: left top }
.html5Sdk a, .html5Sdk a:link, .html5Sdk a:visited { display: block; width: 85px; height: 85px }
.html5Sdk a:hover img { visibility: hidden }
.j2meSdk { background-image: url(../gambar/programming/j2me-hover.png); background-repeat: repeat; background-position: left top }
.j2meSdk a, .j2meSdk a:link, .j2meSdk a:visited { display: block; width: 85px; height: 85px }
.j2meSdk a:hover img { visibility: hidden }
.javaSdk { background-image: url(../gambar/programming/java-hover.png); background-repeat: repeat; background-position: left top }
.javaSdk a, .javaSdk a:link, .javaSdk a:visited { display: block; width: 85px; height: 85px }
.javaSdk a:hover img { visibility: hidden }
.jsSdk { background-image: url(../gambar/programming/js-hover.png); background-repeat: repeat; background-position: left top }
.jsSdk a, .jsSdk a:link, .jsSdk a:visited { display: block; width: 85px; height: 85px }
.jsSdk a:hover img { visibility: hidden }
.phpSdk { background-image: url(../gambar/programming/php-hover.png); background-repeat: repeat; background-position: left top }
.phpSdk a, .phpSdk a:link, .phpSdk a:visited { display: block; width: 85px; height: 85px }
.phpSdk a:hover img { visibility: hidden }
.rubySdk { background-image: url(../gambar/programming/ruby-hover.png); background-repeat: repeat; background-position: left top }
.rubySdk a, .rubySdk a:link, .rubySdk a:visited { display: block; width: 85px; height: 85px }
.rubySdk a:hover img { visibility: hidden }

/*  ####################################################   TOOLS   ################################################## */

.cocos2dx { background-image: url(../gambar/tools/cocos2dx-hover.png); background-repeat: repeat; background-position: left top }
.cocos2dx a, .cocos2dx a:link, .cocos2dx a:visited { display: block; width: 85px; height: 85px }
.cocos2dx a:hover img { visibility: hidden }
.corona { background-image: url(../gambar/tools/corona-hover.png); background-repeat: repeat; background-position: left top }
.corona a, .corona a:link, .corona a:visited { display: block; width: 85px; height: 85px }
.corona a:hover img { visibility: hidden }
.flashSdk { background-image: url(../gambar/tools/flash-hover.png); background-repeat: repeat; background-position: left top }
.flashSdk a, .flashSdk a:link, .flashSdk a:visited { display: block; width: 85px; height: 85px }
.flashSdk a:hover img { visibility: hidden }
.marmaladeSdk { background-image: url(../gambar/tools/marmalade-hover.png); background-repeat: repeat; background-position: left top }
.marmaladeSdk a, .marmaladeSdk a:link, .marmaladeSdk a:visited { display: block; width: 85px; height: 85px }
.marmaladeSdk a:hover img { visibility: hidden }
.monoSdk { background-image: url(../gambar/tools/monotouch-hover.png); background-repeat: repeat; background-position: left top }
.monoSdk a, .monoSdk a:link, .monoSdk a:visited { display: block; width: 85px; height: 85px }
.monoSdk a:hover img { visibility: hidden }
.rad-studioSdk { background-image: url(../gambar/tools/rad-studio-hover.png); background-repeat: repeat; background-position: left top }
.rad-studioSdk a, .rad-studioSdk a:link, .rad-studioSdk a:visited { display: block; width: 85px; height: 85px }
.rad-studioSdk a:hover img { visibility: hidden }
.unity3dSdk { background-image: url(../gambar/tools/unity3d-hover.png); background-repeat: repeat; background-position: left top }
.unity3dSdk a, .unity3dSdk a:link, .unity3dSdk a:visited { display: block; width: 85px; height: 85px }
.unity3dSdk a:hover img { visibility: hidden }

/*  ####################################################   OTHERS   ################################################## */
.appmethodSdk { background-image: url(../gambar/resources/appmethod-hover.png); background-repeat: repeat; background-position: left top }
.appmethodSdk a, .appmethodSdk a:link, .appmethodSdk a:visited { display: block; width: 85px; height: 85px }
.appmethodSdk a:hover img { visibility: hidden }
.resource_ctr_h { font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 25px; color: #272626; font-weight: 400!important; margin: 0!important; padding: 0!important }
.resource_ctr { background-image: url(../gambar/resources/resource_center_hover.png); background-repeat: repeat; background-position: left top }
.resource_ctr a, .resource_ctr a:link, .resource_ctr a:visited { display: block; width: 85px; height: 85px }
.resource_ctr a:hover img { visibility: hidden }
.grailsPlugin { background-image: url(../gambar/resources/grails-plugins-hover.png); background-repeat: repeat; background-position: left top }
.grailsPlugin a, .grailsPlugin a:link, .grailsPlugin a:visited { display: block; width: 85px; height: 85px }
.grailsPlugin a:hover img { visibility: hidden }

.concepts_wrap { border-bottom: 1px solid #949494; padding-top: 20px; padding-bottom: 20px; }
.concepts_wrap h2 { font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 27px; color: #272626; font-weight: 400!important }
.conceptBased_game { margin-top: 18px; text-align: center; }


.container:after { content: ""; display: table; clear: both; }
.conceptBased_game ul { margin: 0; padding: 0 }
.concept_marginLeft { margin-left: 14px }
.conceptBased { list-style: none; max-width: 1003px; width: 100%; margin: 20px auto; padding: 0 }
.conceptBased figure { float: left; background: #f2f2f2; padding: 6px 18px 8px; box-shadow: 0 1px 3px rgba(0,0,0,.1); width: 147px; margin: 0 17px 20px 0px; }
.conceptBased_hd { font-weight: 400!important; font-size: 14px; font-family: sans-serif, Myriad Pro, Gotham, Helvetica Neu, Helvetica, Arial!important; padding: 0; margin: 8px 0; color: #2E2E2E!important }
.conceptBased figure a { overflow: hidden }
.moredetail { width: 110px; float: left; height: 20px; font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 700!important; color: #bb0202!important; margin: 5px 0; padding: 0 }
.moredetail a { font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 13px; font-weight: 400!important; color: #bb0202!important; text-decoration: none; width: 80px!important; display: block }
.moredetail img { margin-top: 4px; margin-top: 4px; float: right }
.tutorial_wrap { padding-top: 20px }
.tutorial_wrap h2 { font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 27px; color: #272626; font-weight: 400!important }
.tutorails_appwarp { margin-top: 20px; }
.tutorails_appwarp figure { width: 165px; height: 230px; margin-bottom: 15px; float: left; list-style-type: none }
.tutorails_appwarp figure span { display: block; text-align: left; font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 15px; font-weight: 400!important; color: #484848!important; padding-right: 16px; margin-top: 3px }
.tutorails_appwarp figure span a { font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400!important; color: #b01609!important; text-decoration: none }
.tutorails_appwarp figure span a:visited { font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 15px; font-weight: 700!important; color: #b01609!important; text-decoration: none }
.requestDemo_footer { background-color: #00426c; height: 94px }
.requestDemo_footer_inner { width: 1023px; margin-left: auto; margin-right: auto; text-align: center; paddin-top: 10px }
.tutorial_marginLeft { margin-left: 30px }
.tutorails_appwarp figure p { font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 15px; font-weight: 400!important; color: #484848!important; margin: 0; padding: 0 }
.conceptBased_gameN { margin-top: 20px }
.conceptBased_gameN ul { margin: 0; padding: 0 }
.conceptBased_gameN ul li { width: 180px; float: left; margin-bottom: 20px }
.concept_marginLeftN { margin-left: 25px }
.conceptBased_gameN ul li:nth-child(10), .conceptBased_gameN ul li:nth-child(11), .conceptBased_gameN ul li:nth-child(2), .conceptBased_gameN ul li:nth-child(3), .conceptBased_gameN ul li:nth-child(4), .conceptBased_gameN ul li:nth-child(5), .conceptBased_gameN ul li:nth-child(6), .conceptBased_gameN ul li:nth-child(7), .conceptBased_gameN ul li:nth-child(8), .conceptBased_gameN ul li:nth-child(9) { margin-left: 25px!important }
.inn_letest_blog { padding-top: 20px; padding-bottom: 50px }
.inn_letest_blog h2 { color: #272626; font-family: "Myriad Pro", Gotham, Helvetica Neu, Helvetica, Arial, sans-serif; font-size: 25px; font-weight: 700!important; display: block; margin-bottom: 20px }
.subheading { font-size: 14px!important; margin-bottom: 5px!important }

.banner_devcenter:after { display: table; content: ""; clear: both }
 @media only screen and (max-width:1024px) {
.devcenter_sdks ul li { margin: 1em 0.5em 1em 1.7em; }
.conceptBased_game ul { margin-left: 16px; }
.conceptBased figure { margin: 0 14px 19px 0px; }
.tutorial_wrap { padding-left: 22px; }
.concepts_wrap h2 { padding-left: 22px; }
.tutorails_appwarp figure { margin-right: 21px; }
.reference_w { padding-left: 2%; width: 98%; }
.devcenter_sdks h2 { padding-left: 20px; } }
 @media only screen and (max-width:768px) {
.devcenter_sdks { text-align: center; }
.devcenter_sdks ul li { margin: 0 0.5em 1.5em 1.5em; }
.conceptBased figure { float: none!important; display: inline-block; }
.conceptBased { text-align: center; }
.devcenter_inner_box h2 { text-align: center; margin: 5% 0 3% 6% }
.tutorails_appwarp { text-align: center; }
.tutorails_appwarp figure { float: none; display: inline-block }
.tutorails_appwarp figure span { text-align: center; }
.reference_w { border-top: 1px solid #949494; float: none; text-align: center; }
.reference_w ul li { display: inline-block; }
.tutorial_wrap { text-align: center }
.concepts_wrap { text-align: center; margin-left: 4% } }
 @media only screen and (max-width:640px) {
.banner_devcenterin h1 { font-size: 25px; }
.devcenter_logo { margin: 6% 4% 0% 5%; }
.banner_devcenterin { width: 53%; }
.tutorial_wrap { text-align: center }
.concepts_wrap { text-align: center; margin-left: 0px; }
.conceptBased figure:last-child { margin: 0px; }
.conceptBased figure { margin: 0 20px 24px 0px; }
.moredetail { margin: 5px 14px; }
.conceptBased figure { margin: 0 10px 24px 7px; }
.devcenter_sdks ul li { margin: 0 0.5em 1.5em 1.3em; } }
 @media only screen and (max-width:480px) {
.devcenter_logo { margin: 6% 4% 0% 25px; }
.banner_devcenterin { width: 60% }
.devcenter_logo img { width: 100% }
.banner_devcenterin { width: 53%; }
.tutorial_wrap { text-align: center }
.concepts_wrap { text-align: center; margin-left: 0% }
.devcenter_sdks ul li { margin: 0 0.5em 1.5em 1em; } }
 @media only screen and (max-width:320px) {
.tutorial_wrap { text-align: center }
.concepts_wrap { text-align: center }
.concepts_wrap { padding-left: 8%; }
.conceptBased figure:last-child { margin-left: -19px; }
.devcenter_inner_box h2 { width: 80% }
.devcenter_sdks ul li { margin: 0 0.1em 1.1em 4px; } }
